.registration-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5em;
  width: auto;
  height: auto;
}

.registration-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.registration-container label {
  margin: 0.3em;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.register-text {
  font-size: 3em;
}

.register-button {
  margin-top: 0.7em;
  border-radius: 4px;
  height: 2em;
  width: 6em;
}

form input {
  width: 16em;
  height: 2em;
  border-radius: 2px;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.login-button {
  margin-top: 0.7em;
  border-radius: 4px;
  height: 2em;
  width: 6em;
}
