.registration-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5em;
  width: auto;
  height: auto;
}

.registration-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.registration-container label {
  margin: 0.3em;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.register-text {
  font-size: 3em;
}

.register-button {
  margin-top: 0.7em;
  border-radius: 4px;
  height: 2em;
  width: 6em;
}

form input {
  width: 16em;
  height: 2em;
  border-radius: 2px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-text{
  margin: 1em 0;
}

.login-button {
  margin-top: 0.7em;
  border-radius: 4px;
  height: 2em;
  width: 6em;
}

.account-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.account-information {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  margin: 10em;
  padding: 4em;
  border-radius: 8px;
  background-color: lightgrey;
}

.account-item {
  margin: 1em;
  font-size: 150%;
}

.account-header{
  font-size: 300%;
}