.cart-header {
  margin: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  font-size: 2em;
}

.cart-product-container {
  display: flex;
  flex-direction: row;
  padding: 1em;
  margin: 1em;
  justify-content: center;
}

.cart-product {
  display: flex;
  flex-direction: row;
  border-radius: 6px;
  width: 70em;
  border: 1px solid black;
  background-color: aliceblue;
}
.cart-title-container {
  display: flex;
  flex-direction: column;
}

.cart-title {
  padding: 1em;
  font-size: x-large;
}
.cart-product-image {
  width: 15em;
  height: 15em;
  display: flex;
  flex-direction: row;
}
.cart-description-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cart-description {
  display: flex;
  flex-direction: column;
  margin: 2em;
  padding: 0.5em;
}

.cart-user-action-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin: 1em;
}

.cart-price {
  color: #3333ff;
  font-size: 1.5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  margin-top: -0.3em;
}

.product-box {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cart-user-action {
  display: flex;
  flex-direction: column;
  margin: 1em;
  width: 7em;
}

.cart-product-card-link {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
}
