* {
  margin: 0;
  padding: 0;
}


.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 0.2fr);
  place-items: center;
  gap: 5em;
  margin-left: 6em;
}

img {
  height: 200px;
  width: 200px;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
}

li {
  display: flex;
  flex-direction: column;
}

p {
  margin: 0.5em;
}

.price {
  color: blue;
  font-size: larger;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 900;
}

.blue-box {
  background-color: lightblue;
  border-radius: 0.3em;
}

.vertical-nav {
  display: flex;
  flex-direction: column;
  position: sticky;
  justify-content: flex-start;
  background-color: lightgrey;
  border-radius: 0.5em;
  height: 100vh;
  min-width: 10vw;
}

.vertical-nav > li {
  padding: 2em;
  margin-top: 1em;
  font-size: larger;
}

.main-container {
  display: flex;
}

.page-container {
  display: flex;
  flex-direction: row;
}
