.product-card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
  margin: auto;
  height: 50vh;
  width: 80vw;
}

.product-info {
  display: flex;
  flex-direction: column;
}
.single-product-title {
  font-size: 3em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.single-product-button {
  margin-top: 2em;
}

.single-product-price {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  font-size: larger;
}

.single-product-description {
  font-size: 1.3em;
  width: auto;
  padding: 1em;
}

.rating-container {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  font-size: larger;
  align-items: center;
  justify-content: center;
  width: auto;
}

.yellow-stars {
  color: gold;
  text-shadow: 2px 2px 2px black;
}
.rating {
  margin-left: 1em;
}

.rating-count {
  margin-left: 1em;
}
